.location-info {
  // display: flex;
  // align-content: center;
  text-align: left;

  &__names {
    display: flex;
    margin-bottom: 1px;

    &--main {
      padding-right: 5px;
      font-weight: bold;
    }
  }

  &__translation {
    margin: 0;
    font-weight: lighter;
  }
}